@font-face {
	font-family: 'amulya_variableregular';
	src: url(../../assets/fonts/amulya-variable-webfont.eot) format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'amulya_variableregular';
	src: url(../../assets/fonts/amulya_variableregular.woff2) format('woff2'),
	url(../../assets/fonts/amulya_variableregular.woff) format('woff'),
	url(../../assets/fonts/amulya-variable-webfont.ttf) format('truetype'),
	url(../../assets/fonts/amulya-variable-webfont.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}