@font-face {
	font-family: 'Amulya-Variable';
	src: url(../../assets/fonts/Amulya-Variable.woff2) format('woff2'),
	url(../../assets/fonts/Amulya-Variable.woff) format('woff'),
	url(../../assets/fonts/Amulya-Variable.ttf) format('truetype');
	font-weight: 300 700;
	font-style: normal;
	font-display: auto;
}