@font-face {
	font-family: 'author_variablebold';
	src: url(../../assets/fonts/author-variable-webfont.eot) format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'author_variablebold';
	src: url(../../assets/fonts/author_variablebold.woff2) format('woff2'),
	url(../../assets/fonts/author_variablebold.woff) format('woff'),
	url(../../assets/fonts/author-variable-webfont.ttf) format('truetype'),
	url(../../assets/fonts/author-variable-webfont.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}