@font-face {
	font-family: 'nunito_sansextralight';
	src: url(../../assets/fonts/nunitosans-extralight-webfont.eot) format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'nunito_sansextralight';
	src: url(../../assets/fonts/nunito_sansextralight.woff2) format('woff2'),
	url(../../assets/fonts/nunito_sansextralight.woff) format('woff'),
	url(../../assets/fonts/nunitosans-extralight-webfont.ttf) format('truetype'),
	url(../../assets/fonts/nunitosans-extralight-webfont.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}