@font-face {
	font-family: 'nunito_sansbold';
	src: url(../../assets/fonts/nunitosans-bold-webfont.eot) format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'nunito_sansbold';
	src: url(../../assets/fonts/nunito_sansbold.woff2) format('woff2'),
	url(../../assets/fonts/nunito_sansbold.woff) format('woff'),
	url(../../assets/fonts/nunitosans-bold-webfont.ttf) format('truetype'),
	url(../../assets/fonts/nunitosans-bold-webfont.svg) format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: auto;
}