@font-face {
	font-family: 'satoshimedium';
	src: url(../../assets/fonts/satoshi-medium-webfont.woff2) format('woff2'),
	url(../../assets/fonts/satoshi-medium-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}