.lightthborder {
  border: var(--bordercolour);
}

.borderbottom {
  border-bottom: var(--bordercolour);
}

.lighttextct {
  color: var(--textcolour);
}

.shaderbacklight {
  box-shadow: var(--shadowcolour);
  background: var(--bgcolour);
}

.innerboxshadowlth {
  box-shadow: var(--innerboxshadowlth);
}

.bordertop {
  border-top: var(--bordercolour);
}

/* width */

::-webkit-scrollbar {
  width: 9px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #d1d1d1;
  border-radius: 2px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #343434;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}

.stackbutton {
  background: var(--stackbuttonbg);
  box-shadow: none;
  color: var(--stackbuttonfg);
}

.stackbutton2c {
  background: var(--stackbutton2cbg);
  /*box-shadow: none;*/
  color: var(--stackbutton2cfg);
}

a:hover {
  text-decoration-color: #181718 !important;
  text-decoration: underline !important;
  text-decoration-color: #000000;
  text-decoration-line: initial;
}

.dropdownbgblur:before, .dropdownbgblur ul.sub-menu:before {
  backdrop-filter: blur(9px);
  content: "";
}

.orangeonhover:hover {
  background-color: #373737;
  color: #181718;
  border-radius: 0px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .tooltip {
    display: none !important;
  }
}

.navblur:before {
  backdrop-filter: blur(9px);
  background-color: #181718;
}

.mainButtonClass:hover {
  color: #0b0b0b !important;
  background-color: #d1d1d1 !important;
  border-bottom: 3px solid #55537b !important;
  transition: 0.45s;
}

.mainButtonClass {
  /*border-top: none;*/
}

.circleButtonClass:hover {
  color: #0b0b0b !important;
  background-color: #d1d1d1 !important;
  box-shadow: 2px 9px 20px 2px rgba(157,157,157,0.35);
  transition: 0.45s;
}

.circleButtonClass:active {
  color: #0b0b0b !important;
  background-color: #d1d1d1 !important;
  box-shadow: 2px 9px 20px 2px rgba(157,157,157,0.35);
  transition: 0.45s;
}

.textInputNoActiveBorder:focus {
  outline: none !important;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navLinkClass:hover {
  background-color: #373737 !important;
  color: #ffffff !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  font-weight: 900;
}

/* Change color of dropdown links on hover */

/* Show the dropdown menu on hover */

/* Change the background color of the dropdown button when the dropdown content is shown */

.brandingColour {
  color: #373737;
}

.brandingText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /*color: #bc7df5;*/
}

.overlap {
  /*height: inherit;*/
  position: sticky !important;
  top: 0 !important;
  /*opacity: 0.5;*/
  -webkit-transition-property: top, bottom;
  -webkit-transition-duration: 2s;
  /*transition: top 2s;*/
}

.dropdownClass {
  /*position: absolute;*/
  z-index: 1 !important;
  background: #373737;
  box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.15) !important;
  border-style: none;
  color: #adadad;
  font-family: Satoshi-Medium;
  font-size: 14px;
  border-radius: 5px !important;
  text-align: center;
}

.navigationDropdownButtonClass:hover {
  background-color: #181718!important;
  color: #e7e7e7!important;
}

.dropdownClass:hover {
  background-color: #181718 !important;
  color: #727272 !important;
  text-decoration: underline !important;
  outline: 0 !important;
  /*-webkit-transition: background-color 1000ms linear;*/
  /*-ms-transition: background-color 1000ms linear;*/
  /*transition: background-color 1000ms linear;*/
}

.dropdownClass:active {
  color: #727272 !important;
  text-decoration: underline !important;
  outline: 0 !important;
  /*-webkit-transition: background-color 1000ms linear;*/
  /*-ms-transition: background-color 1000ms linear;*/
  /*transition: background-color 1000ms linear;*/
}

.dropdownClass:open {
  color: #727272 !important;
  text-decoration: underline !important;
  outline: 0 !important;
  /*-webkit-transition: background-color 1000ms linear;*/
  /*-ms-transition: background-color 1000ms linear;*/
  /*transition: background-color 1000ms linear;*/
}

.dropdownClass:focus {
  color: #393939 !important;
  text-decoration: underline !important;
  outline: 0 !important;
  /*-webkit-transition: background-color 1000ms linear;*/
  /*-ms-transition: background-color 1000ms linear;*/
  /*transition: background-color 1000ms linear;*/
}

.dropdownClassDelta:hover {
  background-color: #ffffff !important;
  color: #393939 !important;
  text-decoration: underline !important;
  outline: 0 !important;
  /*-webkit-transition: background-color 1000ms linear;*/
  /*-ms-transition: background-color 1000ms linear;*/
  /*transition: background-color 1000ms linear;*/
}

.dropdownClassDelta:active {
  color: #393939 !important;
  text-decoration: underline !important;
  outline: 0 !important;
  /*-webkit-transition: background-color 1000ms linear;*/
  /*-ms-transition: background-color 1000ms linear;*/
  /*transition: background-color 1000ms linear;*/
}

.dropdownClassDelta:open {
  color: #393939 !important;
  text-decoration: underline !important;
  outline: 0 !important;
  /*-webkit-transition: background-color 1000ms linear;*/
  /*-ms-transition: background-color 1000ms linear;*/
  /*transition: background-color 1000ms linear;*/
}

.dropdownClassDelta:focus {
  color: #393939 !important;
  text-decoration: underline !important;
  outline: 0 !important;
  /*-webkit-transition: background-color 1000ms linear;*/
  /*-ms-transition: background-color 1000ms linear;*/
  /*transition: background-color 1000ms linear;*/
}

.circleButtonClassDark:hover {
  color: #adadad !important;
  background-color: #0b0b0b !important;
  box-shadow: 2px 9px 20px 2px rgba(157,157,157,0.35);
  transition: 0.45s;
}

.circleButtonClassDark:active {
  color: #adadad !important;
  background-color: #0b0b0b !important;
  box-shadow: 2px 9px 20px 2px rgba(157,157,157,0.35);
  transition: 0.45s;
}

.mainButtonClassDark:hover {
  color: #e9e9e9 !important;
  background-color: #0b0b0b !important;
  border-bottom: 3px solid #55537b !important;
  transition: 0.45s;
  box-shadow: 2px 9px 20px 2px rgba(157,157,157,0.35);
  transition: 0.45s;
}

